<html>
   <head>
       <title>leegon's' labatory</title>
   </head>
   <body>
       <div>
           <h1><a href="">leegon's labatory</a></h1>
       </div>
       <div>
           <p>published: 14.06.2014, 12:14</p> 
           <h2><a href="">My first post</a></h2>
           <p> Welcome to my lab. I reserch how to win the lottery!</p>
       </div>
       <div>
           <p>published: 14.06.2014, 12:14</p> 
           <h2><a href="">My second post</a></h2>
           <p> I bought a lottery ticket yesterday to prove my theory. hahaha</p>
       </div>
   </body>
</html>
